body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
    padding-bottom: 150px;
}

.half-with {
    width: 50%;
    padding-left: 10%;
}

.half-with img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.rem-bigd {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}