body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.falixibal-comntainer {
    display: flex;
    padding-bottom: 150px;
}

.half-with {
    width: 50%;
    padding-left: 10%;
}

.half-with img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.rem-bigd {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.exprince-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    padding-left: 20px;
    border-radius: 10px;
}

.exprince {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#web-dev {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;

}

#full-stack {
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}

footer p {
    text-align: center;
}